@keyframes tilt-shaking {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(5deg); }
    50% { transform: rotate(0eg); }
    75% { transform: rotate(-5deg); }
    100% { transform: rotate(0deg); }
}

body{
    background-color:rgb(79, 79, 79);
    color:white;
    
}

.title{
    margin-left: auto;
    margin-right: auto;
    font-size: xx-large;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    width: 10em;
    height: 2em;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    letter-spacing: 10px;
}

table{
    margin-left: auto;
    margin-right: auto;
    border: solid 1px black;
    border-collapse: collapse;
    border-spacing: 0px;
}

form{
    margin:auto;
    width: 400px;
}

button {
    position: absolute;
    margin: auto;
    width: 100px;
}


tr{
    height: 50px;
    margin: 0;
    padding: 0;
    display: flex;
}


td {
    text-align: center;
    font-size: 2em;
    color:black;
    margin:0;
    padding: 0;
    display: inline-block;
    background-color: grey;
    border: solid 1px black;
    height: 50px;
    width: 50px;
    overflow: hidden;
}

td:hover{
    background-color: rgb(73, 73, 73);
}


.mine{
    background-size: contain;
    background-image: url("./mine.png");
    
}

.clear{
    background-color: white;
}

.clear:hover{
    background-color: rgb(217, 217, 217)
}


.shaking{
    animation: tilt-shaking 0.35s 2;
}